NODE_ENV=development # remove this line in production, it will default to "production" when you run `npm start` or `npm build`
BACKEND_URL=
SESSION_SECRET_KEY=
SESSION_COOKIE_NAME=
SESSION_MAX_AGE_DAYS=

# If you want to start [npm run start] the server on a custom port.
PORT=

# For Dockerization, uncomment the line below and set it to 1
# DOCKER_ENV=1