PORT=
# Server-only (used in env.server.ts)
BACKEND_URL=
SESSION_SECRET_KEY=
SESSION_COOKIE_NAME=
SESSION_MAX_AGE_DAYS=

# client-only (used in env.client.ts)
NEXT_PUBLIC_BACKEND_URL=

# If you want to start [npm run start] the server on a custom port, you can set it here.Dont need in the build phase _ref:npm run build
PORT=

